<div class="d-flex vh-100 align-items-center justify-content-center bg-light">
  <div class="card shadow-sm w-100" style="max-width: 500px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Regístrate</h3>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            id="nombre"
            type="text"
            formControlName="nombre"
            appUppercase
            class="form-control"
            [ngClass]="{ 'is-invalid': registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched }"
            placeholder="INGRESA TU NOMBRE COMPLETO"
            required
          />
          <div class="invalid-feedback">
            El nombre es obligatorio
          </div>
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Apellido</label>
          <input
            id="apellido"
            type="text"
            formControlName="apellido"
            appUppercase
            class="form-control"
            [ngClass]="{ 'is-invalid': registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched }"
            placeholder="INGRESA TU APELLIDOS COMPLETOS"
            required
          />
          <div class="invalid-feedback">
            El apellido es obligatorio
          </div>
        </div>


        <div class="mb-3">
          <label for="correo" class="form-label">Correo</label>
          <input
            id="correo"
            type="email"
            formControlName="correo"
            class="form-control"
            [ngClass]="{ 'is-invalid': registerForm.get('correo')?.invalid && registerForm.get('correo')?.touched }"
            placeholder="tú@correo.com"
            required
          />
          <div class="invalid-feedback">
            {{
              registerForm.get('correo')?.hasError('required')
                ? 'El correo es obligatorio'
                : 'Formato de correo inválido'
            }}
          </div>
        </div>

        <div class="mb-3">
          <label for="contrasena" class="form-label">Contraseña</label>
          <input
            id="contrasena"
            type="password"
            formControlName="contrasena"
            class="form-control"
            [ngClass]="{ 'is-invalid': registerForm.get('contrasena')?.invalid && registerForm.get('contrasena')?.touched }"
            placeholder="••••••••"
            required
          />
          <div class="invalid-feedback">
            La contraseña debe tener al menos 6 caracteres
          </div>
        </div>

        <div class="mb-4">
          <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': registerForm.hasError('noMatch') && registerForm.get('confirmPassword')?.touched }"
            placeholder="••••••••"
            required
          />
          <div class="invalid-feedback">
            Las contraseñas no coinciden.
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-success w-100"
          [disabled]="registerForm.invalid"
        >
          Crear cuenta
        </button>

        <div *ngIf="error" class="alert alert-danger mt-3 text-center">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
